html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #13CD58;
  margin-bottom: 90px;
}

.head {
  width: 100%;
}

.head p {
  font-size: 200%;
  text-align: center;
  color: #4c798a;
  font-family: impact;
}

#header {
  margin: 30px 0;
}

#weekForm {
  margin: 30px 0;
}


@media only screen and (min-width: 800px) {
  .head p {
    font-size: 350%;
  }
}
